<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Viewer</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body onload="load()">
    <div id="content">Loading...
    <table>
    {{range $name, $value := .}}
        <tr><td>{{$name}}</td><td>{{$value}}</td></tr>
    {{end}}
    </table>
  </div>
	<script type="text/javascript" src="https://rv.mikee.site/static/index.js"></script>
	<script type="text/javascript" src="https://cs.deviceatlas-cdn.com/dacs.js" async></script>
  </body>
</html>